.Button {
  background-color: #760808;
  border-radius: 12px;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.03em;
  padding: 10px 15px;
  text-decoration: none;
  transition-duration: 0.1s;
  transition-property: transform;
  text-transform: uppercase;
}

.Button:hover {
  transform: scale(1.05);
}
